<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Scrabble Score</title>
    </head>
    <body>
        <form action="/output" method="get">
            <label for="userWord"></label>
            <input type="text" id="userword" name="userWord">
            <button type="submit">Check your score!</button>
        </form>

    </body>
</html>
